/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-eng.pc
/autom4te.cache
/config.log
/config.status
/configure
/eng.autogen.att.gz
/eng.autogen.bin
/eng.automorf.att.gz
/eng.automorf.bin
/eng.autopgen.bin
/eng.rlx.bin
/install-sh
/missing
/modes
