* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-eng.eng.acx -text svneol=unset#application/xml
/apertium-eng.eng.dix -text svneol=unset#application/xml
/apertium-eng.eng.rlx -text
/apertium-eng.pc.in -text
/apertium-eng.post-eng.dix -text svneol=unset#application/xml
/autogen.sh -text
/configure.ac -text
/eng.prob -text
/modes.xml -text svneol=unset#application/xml
