* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-eng.eng.acx -text svneol=unset#text/plain
/apertium-eng.eng.dix -text svneol=unset#text/plain
/apertium-eng.eng.rlx -text
/apertium-eng.pc.in -text
/apertium-eng.post-eng.dix -text svneol=unset#text/plain
/autogen.sh -text
/configure.ac -text
/eng.prob -text
/modes.xml -text svneol=unset#text/plain
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
